<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
      <form [formGroup]="todoForm" (submit)="addItem(todoForm.value.todo)">
          <ion-title>Outstanding</ion-title>
          <ion-input type="text" placeholder="add a task" color="dark" clear-input formControlName="todo"></ion-input>
          <ion-buttons >
            <ion-button type="submit" [disabled]="!todoForm.valid">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-buttons>
        </form>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  <ion-item-sliding *ngFor="let item of items; index as i" #{{index}}>
    <ion-checkbox slot="start" value="item.status" (ionChange)="this.toggleStatus(item.id)">
    </ion-checkbox>
      <ion-item lines="full">
        <ion-checkbox slot="start" value="item.status" (ionChange)="this.toggleStatus(item.id)">
        </ion-checkbox>
        <ion-label>
          {{item.name}}
          <p *ngIf="settings.datedisplay">{{item.id|tonow}}</p>
        </ion-label>
        <ion-icon slot="end" name="arrow-dropleft"></ion-icon>
        </ion-item>
    
      
  </ion-item-sliding>
</ion-list>
</ion-content>
